# Compiled Typst output
*.pdf
!template/figures/**/*.pdf
template/main.html
template/mainbw.pdf
report-releases/*.pdf
!report-releases/.gitkeep

# Python cache & logs
__pycache__/
*.py[cod]
*report.txt
template/scripts/*report.txt

# OS & Editor
.DS_Store
*.swp
*.swo
